body {
  font-family: 'Roboto', sans-serif;
}


.Content {
  margin: 100px auto 0;
  width: 79% ;
}

.Content__head, .Content__body {
  width: 50% ;
}


.Content__head h1 {
  font-weight: 500;
  font-size: 4.5em;
  margin-bottom: 0;
}

.Content__head p {
  font-weight: 500;
  font-size: 2.2em;
  line-height: 1.4;

}

.Content__body {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.4;
}
