/* Google font */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,500&display=swap');

@import url('./base/reset.css');
@import url("./pages/index.css");
@import url("./components/parts/link_option.css");
